* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.banner {
    min-height: 793px;
    background-color: #17A2B8;
}

.banner .menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 32px;
}

.banner .menu .menu-item {
    list-style-type: none;
    font-size: 18px;
    
}

.banner .menu .menu-item a {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;
}

.banner .menu .menu-item a:hover {
    border-bottom: 1px solid #ffffff;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.banner .banner-content .logo {
    width: 142px;
    height: 142px;
}

.banner .banner-content .logo img {
    width: 100%;
    height: 100%;
}

.banner .banner-content .banner-text {
    text-transform: uppercase;
    color: #ffffff;
}

.banner .banner-content .title {
    margin-top: 48px;
    font-size: 48px;
}

.banner .banner-content .meeting-date {
    margin-top: 32px;
}

.banner .banner-content .meeting-descr {
    margin-top: 32px;
}

.banner .banner-content .registration-btn {
    margin-top: 48px;
    width: 208px;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    background-color: #2F418A;
    cursor: pointer;
    transition: all 0.5s;
}

.banner .banner-content .registration-btn:hover {
    box-shadow: 0px 3px 10px 0px #2F418A;
}

.banner .banner-content .registration-btn:active {
    box-shadow: none;
}

.info {
    min-height: 306px;
    background-color: #F8F9FA;
}

.info .info-content {
    display: flex;
    padding-top: 48px;
    gap: 15px;
}

.info .info-content .description {
    width: 50%;
    text-align: center;
    font-size: 16px;
    padding: 0 16px;
}

.info .info-content .description .description-text {
    margin-top: 25px;
}

.info .info-content .description .description-text span {
    font-weight: bold;
}

.info .info-content .registration-info {
    width: 50%;
    padding: 0 16px;
}

.info .info-content .registration-info .registration-title {
    font-size: 32px;
    text-align: center;
}

.info .info-content .registration-info .check-info {
    margin-top: 16px;
    font-size: 16px;
}

.info .info-content .registration-info .user-data {
    margin-top: 16px;
    display: flex;
    gap: 60px;
    font-size: 16px;
}

.info .info-content .registration-info .user-data .user-list {
    list-style-type: none;
}

.user-data-item {
    line-height: 20px;
}