@font-face {
    font-family: "Segoe UI Regular";
    src:
      url("./fonts/SegoeUI.woff2") format("woff2"),
      url("./fonts/SegoeUI.woff") format("woff"),
      url("./fonts/SegoeUI.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Segoe UI SemiBold";
    src:
      url("./fonts/SegoeUI-SemiBold.woff2") format("woff2"),
      url("./fonts/SegoeUI-SemiBold.woff") format("woff"),
      url("./fonts/SegoeUI-SemiBold.ttf") format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Segoe UI Bold";
    src:
      url("./fonts/SegoeUI-Bold.woff2") format("woff2"),
      url("./fonts/SegoeUI-Bold.woff") format("woff"),
      url("./fonts/SegoeUI-Bold.ttf") format("ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Segoe UI Italic";
    src:
      url("./fonts/SegoeUI-Italic.woff2") format("woff2"),
      url("./fonts/SegoeUI-Italic.woff") format("woff"),
      url("./fonts/SegoeUI-Italic.ttf") format("ttf");
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI Regular", sans-serif;
    font-size: 16px;
}

:root {
    --main-text-color: #000000;
    --secondary-text-color: #ffffff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.banner {
    min-height: 793px;
    padding: 32px 0 129px 0;
    background-color: #17A2B8;
}

.banner .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 25px;
}

.banner .menu .menu-item {
    list-style-type: none;
    font-size: 18px;
    
}

.banner .menu .menu-item a {
    text-decoration: none;
    color: var(--secondary-text-color);
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s ease;
}

.banner .menu .menu-item a:hover {
    border-bottom: 1px solid #ffffff;
}

.banner .banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.banner .banner-content .logo {
    width: 142px;
    height: 142px;
}

.banner .banner-content .logo img {
    width: 100%;
    height: 100%;
}

.banner .banner-content .banner-text {
    text-transform: uppercase;
    color: var(--secondary-text-color);
}

.banner .banner-content .title {
    margin-top: 48px;
    font-family: "Segoe UI SemiBold", sans-serif;
    font-size: 48px;
}

.banner .banner-content .meeting-date {
    font-family: "Segoe UI SemiBold", sans-serif;
    margin-top: 32px;
}

.banner .banner-content .meeting-descr {
    font-family: "Segoe UI SemiBold", sans-serif;
    margin-top: 32px;
}

.banner .banner-content .registration-btn {
    margin-top: 48px;
    width: 208px;
    height: 56px;
    border: none;
    border-radius: 8px;
    font-family: "Segoe UI SemiBold", sans-serif;
    color: var(--secondary-text-color);
    background-color: #2F418A;
    cursor: pointer;
    transition: all 0.5s;
}

.banner .banner-content .registration-btn:hover {
    box-shadow: 0px 3px 10px 0px #2F418A;
}

.banner .banner-content .registration-btn:active {
    box-shadow: none;
}

.info {
    min-height: 306px;
    padding: 48px 0;
    background-color: #F8F9FA;
}

.info .info-content {
    display: flex;
    gap: 15px;
}

.info .info-content .description {
    width: 50%;
    text-align: center;
    padding: 0 16px;
}

.info .info-content .description .description-text {
    margin-top: 25px;
    color: var(--main-text-color);
}

.info .info-content .description .description-text span {
    font-family: "Segoe UI SemiBold", sans-serif;
}

.info .info-content .registration-info {
    width: 50%;
    padding: 0 16px;
}

.info .info-content .registration-info .check-info {
    margin-top: 16px;
    color: var(--main-text-color);
}

.info .info-content .registration-info .user-data {
    margin-top: 16px;
    display: flex;
    gap: 60px;
}

.info .info-content .registration-info .user-data .user-list {
    list-style-type: none;
}

.user-data-item {
    line-height: 20px;
    color: var(--main-text-color);
}

.price-list {
    min-height: 333px;
    padding: 48px 0;
    background-color: var(--secondary-text-color);
}

.subtitle {
    font-family: "Segoe UI SemiBold", sans-serif;
    font-size: 32px;
    color: var(--main-text-color);
    text-align: center;
}

.price-list .subtitle-detail {
    text-align: center;
    line-height: 10px;
    color: var(--main-text-color);
}

.price-list .price-table {
    margin-top: 32px;
    width: 100%;
}

.price-list .price-table tr {
    height: 50px;
}

.price-list .price-table tr th {
    text-align: left;
    border-bottom: 2px solid #DEE2E6;
    font-family: "Segoe UI SemiBold", sans-serif;
}

.price-list .price-table tr th, td {
    border-top: 1px solid #DEE2E6;
    color: var(--main-text-color);
}

.price-list .price-table tbody tr:first-child td {
    border-top: none;
}

.speakers {
    min-height: 605px;
    background-color: #F8F9FA;
    padding: 48px 0;
}

.speakers .speakers-group {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.speakers .speakers-group .speaker {
    max-width: 217px;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.speakers .speakers-group .speaker .speaker-avatar {
    width: 120px;
    height: 120px;
}

.speakers .speakers-group .speaker .speaker-avatar img {
    width: 100%;
    height: 100%;
}

.speakers .speakers-group .speaker .speaker-name {
    font-family: "Segoe UI SemiBold", sans-serif;
    font-size: 20px;
    color: var(--main-text-color);
}

.speakers .speakers-group .speaker .speaker-descr {
    text-align: center;
    font-family: "Segoe UI Italic", sans-serif;
    color: var(--main-text-color);
}